* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fc;
   
  }
  
  .login-container {
    width: 600px;
    padding: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;

  }
  
 
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  p {
    color: #666;
    margin-bottom: 24px;
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .input-field input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .password-container {
    position: relative;
  }
  
  .show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }
  
  .checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 24px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #fd6b68;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .btn-google {
    background-color: #f7f8fc;
    color: #333;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-google img {
    width: 28px;
    margin-right: 8px;
  }
  
  .footer {
    font-size: 14px;
    color: #666;
    margin-top: 24px;
  }
  
  .footer a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 0.85em;
    margin-top: 4px;
  }
  