
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f8fc;
}

.login-container {
  width: 600px;
  padding: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header and Text */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  color: #666;
  margin-bottom: 24px;
}

/* Input Field Styling */
.input-field {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}

.input-field input {
  width: 100%;
  padding: 12px 40px; /* Extra space for the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 50px; /* Adjust padding to keep space for icon */
}

/* Icon Styling */
.icon {
  position: absolute;
  left: 15px;
  top: 37%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Prevent icon from interfering with input */
}

/* Password Container */
.password-container {
  position: relative;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  align-items: center;
}

/* Error Message Styling */
.error {
  color: red;
  font-size: 0.85em;
  margin-top: 10px; /* Space between input and error message */
  text-align: left;
  padding-left: 10px;
  height: 18px; /* Reserve space for the error message */
  
  align-items: center;
}

/* Checkbox  */
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}

.checkbox-container a {
  color: #333;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #fd6b68;
  border: none;
  border-radius: 34px;
  cursor: pointer;
  margin-bottom: 16px;
}

.btn-google {
  background-color: #f7f8fc;
  color: #333;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-google img {
  width: 20px;
  margin-right: 8px;
}

/* Footer */
.footer {
  font-size: 14px;
  color: #666;
  margin-top: 24px;
}

.footer a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}